@font-face {
  font-family: 'Montserrat';
  src: url("https://fonts.gstatic.com/s/montserrat/v25/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2") format('woff2');
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 250, 250);
}

/* HERO */

.header {
  height: 70vh;
  width: 100%;
  text-align: center;
  /* padding-top: 100px; */
  color: white;
  overflow: hidden;
  background: #162c8e; /* fallback for old browsers */
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgba(10, 69, 106, 0.6)),
    url("https://source.unsplash.com/random?productivity,3d-render"); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(rgb(72, 0, 72, 0.8), rgba(2, 11, 52, 0.6)), 
    url("https://source.unsplash.com/random?productivity,3d-render"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  width: 60%;
}
.mb {
  display: none;
}
.pc {
  display: block;
}
.header-text h1 {
  font-size: 3rem;
  color: rgb(213, 213, 213);
  font-weight: 400;
}
.header-text h1 span {
  color: #fff;
  font-weight: 900;
  /* font-weight: 600; */
}
.header-text p {
  margin: 10px 0;
}

.searchbar {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  margin: 2rem auto;
  width: 80%;
}
.search-btn {
  width: 150px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border-radius: 0 50px 50px 0;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  color: #4b4b4b;
  background: rgb(242, 242, 242);
}
.search-btn:hover {
  color: #091445;
  background: rgb(215, 215, 215);
}

/* IMAGE CARDS */
.query-txt {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.query-txt h2 {
  font-size: 4rem;
  color: #060f38;
  font-weight: 600;
}
.query-txt span {
  font-weight: 400;
  font-size: 1rem;
  color: #919191;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 2rem 0;
}
.cards img {
  width: 280px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  background-color: #8e168a;
  margin: 1rem;
}
.cards img:hover {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  .header {
    height: 40vh;
  }
  .header-text {
    width: 80%;
  }
  .header-text h1 {
    font-size: 2rem;
    color: rgb(213, 213, 213);
    font-weight: 400;
  }
  .mb {
    display: block;
  }
  .pc {
    display: none;
  }
  .searchbar {
    width: 100%;
  }
  .search-btn {
    width: 100px;
    font-size: 14px;
  }
  .query-txt h2 {
    font-size: 2rem;
    color: #060f38;
    font-weight: 600;
  }
}
