:root {
  --gutter: 2.5rem;
  --color-primary: #303b4c;
  --color-secondary: #b9c7cc;
  --color-secondary-rgb: #748f99;
}
.main-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
}
button {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.inner-container {
  height: 100%;
  margin: 0 auto;
  width: 80vw;
  position: relative;
  /* width: calc(100% - var(--gutter)); */
}

/* ---General classes--- */
.flex-row {
  display: flex;
}
.flex-column {
  padding: 0rem;
  display: flex;
  /* height: 100%; */
  flex-direction: row;
}
.flex-center {
  /* background-color: aqua; */
  margin: 3vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
/* .justify-between {
  display: flex;
  justify-content: space-between;
} */
/* ---General classes--- */

.slider {
  /* height: 100%; */
  padding: 3rem 0;
  overflow: hidden;
  background-color: var(--color-secondary);
}
.slider__wrapper {
  /* height: 80vh; */
  justify-content: center;
}
.img-container {
  position: relative;
  justify-content: center;
  background-size: contain;
  max-width: 50vw;
  padding-top: 6vh;
}
.bg-img {
  width: 25vw;
  position: absolute;
}
/* .inner-container::before {
  position: absolute;
  top: 17%;
  content: "";
  background: url(../../../../public/img/bg-pattern01.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 35vw;
  height: 45vh;
} */

.slider__img {
  align-self: center;
  /* margin-bottom: 1rem; */
  max-width: 28vw;
  border-radius: 10px;
}
.slider__context {
  width: 33vw;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  font-size: 1.55rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  padding: 3vw;
}
.slider__title {
  font-size: 1.1em;
  margin: 0.1rem 0 0.35rem;
}
.slider__category {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
  color: var(--color-secondary-rgb);
}
.slider__price {
  font-size: 0.5em;
  font-weight: lighter;
  font-family: sans-serif;
}
.context {
  display: flex;
  font-weight: 500;
  font-size: 1.55rem;
  width: fit-content;
  margin-bottom: 3.05em;
  flex-direction: column;
  text-transform: capitalize;
}
.slider__footer {
  position: relative;
  margin-bottom: 1.5rem;
}
.slider__btn-switch {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  margin: 0 0.5rem;
  /* margin-inline-start: 0.7rem; */
}
.slider__btn-switch::before {
  content: "";
  height: 0.3rem;
  width: 0.3rem;
  position: absolute;
  border: 2px solid;
  border-top: unset;
  border-left: unset;
  margin-inline-end: 0.2rem;
  transform: rotate(-45deg);
}
.slider__btn-switch--dark {
  background-color: var(--color-primary);
  transform: rotate(180deg);
}
.slider__btn-switch--dark::before {
  border-color: var(--color-secondary);
}
.slider__btn-switch--light {
  background-color: var(--color-secondary);
}
.slider__btn-switch--dark:hover,
.slider__btn-switch--light:hover {
  background-color: #c2e4ef;
  transition: 0.2s ease-in;
}
.slider__btn-switch--light::before {
  border-color: var(--color-primary);
}
.slider__index {
  right: 0;
  gap: 0 5.7em;
  display: flex;
  font-weight: 700;
  font-weight: 600;
  font-size: 1.85em;
  visibility: hidden;
  position: absolute;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  bottom: 4%;
  /* bottom: calc(100% + 0.8em); */
}
.slider__index :last-child {
  color: var(--color-secondary);
}
.slider__index::before {
  top: 55%;
  height: 1%;
  width: 42%;
  content: "";
  position: absolute;
  transform-origin: center;
  background-color: var(--color-primary);
}

@media (min-width: 570px) {
  .slider__img {
    /* width: 29rem;
    margin-bottom: -1rem; */
  }
  .slider__context {
    font-size: 1.8rem;
  }
  .slider__index {
    visibility: visible;
  }
  .slider__price {
    font-size: 0.4em;
  }
  .slider__footer {
    font-size: 0.98rem;
    margin-bottom: 2.2em;
  }
}

@media (min-width: 830px) {
  .slider__img {
    /* width: 37rem; */
    /* margin-bottom: -11.5rem; */
  }
  .slider__context {
    font-size: 2rem;
    margin-bottom: 1.15em;
  }
  .slider__footer {
    margin-bottom: 2.8em;
  }
}

@media (max-width: 430px) {
  .main-container {
    height: 100%;
  }
  .flex-column {
    padding: 0;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80vw;
  }
  .img-container {
    padding: 0vw;
    max-width: 80vw;
  }
  .slider__img {
    margin-top: 1.5rem;
    max-width: 70vw;
  }
  .slider__context {
    width: 80vw;
  }
  .flex-center {
    margin: 10px;
  }
  .bg-img {
    width: 80vw;
    position: absolute;
  }
  /* .slider__index {
    right: 33.3%;
    visibility: visible;
} */
}
