@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
    user-select: none !important; /* https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-tap-hightlight-color: transparent  !important; /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
    -webkit-touch-callout: none !important; /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-touch-callout */
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::selection */
*::selection, *::before::selection, *::after::selection {
    color: unset !important;
    background: transparent !important;
}

.hrline {
    border: 1px solid;
}

/* !Wrap all main containers with this class */
.is-main-container{
    width: 80%;
    margin: 0 auto;
}

.image-masonry{
    min-height: 200px;
}

.image-search-loader{
    /* background: rgba(255, 255, 255, 0.075); */
    border-radius: 999px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.image-search-loader-container{
    width: 100%;
    height: 100%;
    z-index: 9999;
}

@media (max-width: 768px) {
    .image-masonry {
      display: grid;
      /* grid-template-columns: repeat(2, 1fr); */
      grid-gap: 1rem;
    }
    .image-masonry img {
      width: 100%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .image-masonry {
      display: grid;
      /* grid-template-columns: repeat(3, 1fr); */
      grid-gap: 1rem;
    }
    .image-masonry img {
      width: 100%;
    }
  }
  