@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #8b90b7;
}